{% extends "poll/base.html" %}
{% load static %}
{% block title %}Instructions{% endblock %}
<link rel="stylesheet" type="text/css" href="{%static '/css/style.css' %}">



{% block main %}
<h1 style="color:blue;"><P ALIGN=Center ><font size="+2"><U> <b> Instructions </b> </U></font> </P></h1>  <br><br>
<p> <b>Answer: </b> Respond to the survey that Shweta Baid has posted <br><br>
 <b>Date Published: </b> Find out when the survey was published. The surveys are ordered in reverse chronological order, with the most recent at the top<br><br>
 <b>Discuss: </b> Leave suggestions about how to make Aurora a better community to live in<br><br><br><br>

</p>


{% endblock %}