{% extends "poll/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static '/css/style.css' %}">

{% block title %}Home{% endblock %}

{% block main %}

<h1 style="color:blue;"><P ALIGN=Center ><font size="+2"><U> <b> Welcome to Connect With Shweta! </b> </U></font> </P></h1>
<!--<IMG STYLE="positidon:absolute; TOP:330px; LEFT:620px;WIDTH:280px; HEIGHT:200px" SRC="{% static 'images/renamebaidlogo.png' %} ">-->

<p>


    Connect With Shweta is a supplementary website that is affiliated to the BaidForAurora Alderman Campaign. Shweta Baid has a strong desire to be an equitable, fair, and approachable community leader for Aurora's 10th Ward.
    During these challenging times, it has been more difficult for her to venture out into the community and connect with the citizens of Aurora. As Shweta Baid progresses throughout her campaign trail, she hopes to connect more with people like you!
She wants to learn more about what kind of a leader you want, what public policies you support, and hopes to get real-time feedback about her events, goals, and more. Shweta Baid hopes to gain valuable insight regarding voter demographics, voter turnout, and her approval rate. She will strategically use this information to adapt and become a more equitable leader.</p>

<br>
<p>Shweta Baid hopes to get this information through various surveys and discussions that she plans to conduct on this website. Check the "Instructions" tab for more information. </b> Shweta Baid thanks you for all of your help and support!
Learn more about Shweta Baid, her background, and her strategic initatives below or <a href="https://baidforaurora.com/">visit baidforaurora.com</a></p>
<br>
<p>  Shweta Baid is an accomplished individual seeking to give back to Aurora's 10th ward.
    She strongly advocates for all members of Aurora's 10th ward and wants to serve her community by being elected as its alderman. During these difficult times, Shweta Baid hopes to provide strong leadership to the community and be an approachable and kind leader.
</p>
<br>
<p> Some of the key points on her agenda include:
</p>
<br>
<ul>
  <li>Increasing participation in volunteering and community service</li>
  <li>Spearheading community projects</li>
  <li>Vote for Lower Taxes</li>
    <li>Bridge the gap between all Ward 10 communities</li>
    <li>Listening to Residents to build a more Equitable City & Be their Voice </li>
    <li>Funding Public Safety and Security in our Schools, Businesses, and Community</li>
    <li>Sustainable economic development and better jobs for Aurora</li>
    <li>Promoting Aurora's SMART City plan through STEM awareness</li>
  <li>Stimulating interest in STEM and Youth Involvement in Community Service</li>
</ul>

<h5 style="color:black;"><P ALIGN=Right > <b> Designed by Shubham Welling </b>  </P></h5>
{% endblock %}