{% extends "poll/base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{%static '/css/style.css' %}">

{% block title %}Contact{% endblock %}

{% block main %}
<h1 style="color:blue;"><P ALIGN=Center ><font size="+2"><U> <b> Contact </b> </U></font> </P></h1>
<p>Email Shweta Baid at shweta@baidforaurora.com</p>

<br>
<p>Look for updates about Shweta Baid's campaign trail <a href="https://www.facebook.com/shwetabaidforAurora/">here</a></p>
<br>
<p>BaidForAurora Campaign Website: <a href="https://baidforaurora.com/">visit baidforaurora.com</a></p>
<br>
<p>Email the Software Developer that made this website(Shubham Welling) at wellingshubham@gmail.com </p>

{% endblock %}